.button-container {
  height: 46px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.8125rem;
  user-select: none;
  border: 1px solid #313248;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px;
  color: #d2d3e0;
  min-width: 32px;
  padding: 0 14px;
  background-color: #292a35;
  cursor: pointer;
}
