.category-filter-form {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 26px;
}

.category-filter-form > div:nth-child(1) {
    width: 95px;
}

.category-filter-form > div:nth-child(2) {
    width: 140px;
}

.category-filter-form > div:nth-child(3) {
    width: 210px;
}

.category-filter-form > div:nth-child(4) {
    width: 175px;
}

.category-filter-form > div:nth-child(5) {
    width: 220px;
}

.category-filter-form > div:nth-child(6) {
    width: 250px;
}

button img {
    width: 16px;
}
