.header {
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: background-color 200ms;
  color: white;
}

.mask::before,
.mask::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: -50%;
}

.mask::before {
  backdrop-filter: blur(12px);
  -webkit-mask-image: linear-gradient(to bottom, black 56px, transparent);
}

.header-content {
  z-index: 999;
  width: 60%;
  display: flex;
  align-items: center;
}

.header-content::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.header-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  margin-left: 48px;
}

.header-title ul {
  display: flex;
}

.header-title li {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  transition: background-color 0.3s;
}

.header-title li:first-child {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header-title li:not(:first-child) {
  margin-left: 20px;
}

.header-title li:not(:first-child):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-title li a {
  transition: color 0.25s;
}

.header-title li a:hover {
  color: #8a8f98;
}
