body {
    min-height: 100vh;
    background-color: rgb(0, 2, 18);
}

main {
    height: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
    overflow-x: hidden;
}

